.tinhNang{
    margin-top: 80px;
    margin-left: 200px;
   
    p{
        color: black;
    }
   
}
.quan_ly{
    // background-color: red;
    display: inline-block;
    color: rgb(151, 149, 149);
    p{
    color: rgb(112, 111, 111);
    
    }
}